.blog-section- {
  max-width: 1300px;
  height: auto;
  background-color: #ff6f61;
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 3rem;
}

.blog-section- h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: white;
}

.view-more {
  text-decoration: none;
  margin-bottom: 3rem;

  padding: 1rem 1rem;
  background-color: #007bff;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}
.view-more:hover {
  background-color: #0056b3;
}
.blog-grid {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.blog-card- {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.blog-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007bff;
}

.blog-meta {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 20px;
}

.blog-card p {
  font-size: 1em;
  color: #555;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: #0056b3;
}
