/* General styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url("https://imgmedia.lbb.in/media/2019/10/5da42de32790344dc8bfd964_1571040739720.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.donate-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem;

  margin-bottom: 2rem;
  padding: 30px;
  padding-bottom: 80px; /* Add padding to the bottom to prevent overlap with footer */
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

.donate-title {
  text-align: center;
  font-size: 2.8em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

.donate-description {
  text-align: center;
  font-size: 1.2em;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.5;
}

.donate-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donate-label {
  font-size: 1.2em;
  color: #333;
}

.donate-input {
  padding: 12px;
  font-size: 1.1em;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.donate-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

.donate-button {
  padding: 15px;
  font-size: 1.2em;
  color: white;
  background: linear-gradient(90deg, #007bff 0%, #0056b3 100%);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* transition: background 0.3s, transform 0.2s; */
}
.scale-img {
  transition: background 0.3s, transform 0.2s;
}
.scale-img:hover {
  transform: scale(1.05);
}
.donate-button:hover {
  background: linear-gradient(90deg, #0056b3 0%, #004494 100%);
  /* transform: scale(1.05); */
}

@media (max-width: 600px) {
  .donate-container {
    padding: 15px;
  }

  .donate-title {
    font-size: 2.2em;
  }

  .donate-description {
    font-size: 1.1em;
  }
  .scale-img {
    display: none;
  }
}

/* Footer styles */
/* .footer {
  background-color: #f8f9fa;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
} */
