.events-drives-section {
  padding: 20px;
  /* max-width: 900px; */
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 10px;
  /* margin-bottom: 5rem; */
}

.events-drives-title {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 20px;
  color: #333;
}

.events-drives-description {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-bottom: 40px;
}

.events-list {
  max-width: 850px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.event-img {
  transition: transform ease 0.3s;
}
.event-img:hover {
  transform: scale(1.05);
}

.event-item {
  /* background-color: white; */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 20px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.event-title {
  font-size: 2.2em;
  border-bottom: double black;
  color: #007bff;
  margin-bottom: 10px;
}

.event-date,
.event-location,
.event-description {
  font-size: 1.1em;
  margin-bottom: 8px;
  color: #555;
}

@media (max-width: 768px) {
  .events-drives-title {
    font-size: 2em;
  }

  .event-item {
    padding: 15px;
  }

  .event-title {
    text-align: center;
    font-size: 1.2em;
  }
  .title-dive {
    img {
      display: none;
    }
  }
}
