/* General styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(to right, #ff6f61, #de6161);
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  position: relative;
}

.hero-section h1 {
  font-size: 5em;
  margin: 0;
  line-height: 1.2;
}

.hero-section p {
  font-size: 2em;
  margin: 20px 0;
}

.hero-button {
  margin-top: 2rem;
  background-color: #fff;
  color: #ff6f61;
  border: none;
  padding: 15px 30px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.hero-button:hover {
  background-color: #f7f7f7;
  color: #de6161;
}

/* Features Section */
.features-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.feature-item {
  object-fit: cover;
  flex: 1;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.feature-item h2 {
  color: #ff6f61;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1em;
  color: #666;
}

/* Call to Action Section */
.call-to-action {
  background-color: #ff6f61;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  border-radius: 8px;
  margin: 30px 20px;
}

.call-to-action h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.call-to-action p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.call-to-action a {
  background-color: #fff;
  color: #ff6f61;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.call-to-action a:hover {
  background-color: #f7f7f7;
  color: #de6161;
}

/* Footer Section */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
}

.faq {
  height: 30rem;
}

.impact {
  margin-bottom: 2rem;
}
.image- {
  margin-top: 2rem;
  height: 200px;
  width: 200px;
}

.testimonials {
  margin-bottom: 2rem;
}
@media screen and (max-width: 400px) {
  .hero-section h1 {
    font-size: 2.8em;
  }
  .hero-section p {
    font-size: 1.5em;
  }
}
